p{
    font-family: 'Segoe UI', Tahoma;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}
.col{
    display: flex;
    width: 500px;   
    gap:10px;
    flex-direction: column;
    border: none;
    border-radius: 12px;   
    margin-bottom: 18px;
}
input{
    background-color: rgb(240, 240, 240);
    border: none;
    font-size: 16px;
    padding: 10px 12px;
}
.request-button{
    background-color: black;
    color: white;
    padding: 10px 12px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
}
.schedule-button{
    background-color: rgb(240, 240, 240);
    color: black;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
}